.cards {
  display: grid;
  width: 89.06%;
  grid-template-columns: repeat(3, 31.58%);
  column-gap: 2.63%;
  row-gap: 58px;
  margin: 80px auto 26px auto;
}

@media screen and (max-width: 768px) {
  .cards {
    width: 92.19%;
    grid-template-columns: repeat(2, 47.88%);
    row-gap: 45px;
    column-gap: 4.24%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 320px) {
  .cards {
    width: 93.75%;
    grid-template-columns: 100%;
    margin-top: 50px;
    row-gap: 36px;
  }
}
