.movies {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .movies {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .movies {
    max-width: 320px;
  }
}