.navtab {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 10px;
  margin-bottom: 40px;
}

.navtab__link {
  padding: 10px 17px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: white;
  text-decoration: none;
  background-color: #303030;
}

.navtab__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 320px) {
  .navtab {
    column-gap: 6px;
    margin-bottom: 22px;
  }

  .navtab__link {
    padding: 5px 15.5px;
    border-radius: 6px;
    font-size: 10px;
  }
}